{
    "openapi": "3.0.0",
    "info": {
        "title": "Projecte Allotjaments Sol",
        "description": "REST API. Projecte Allotjaments Sol. DAW Client i servidor. Per utilitzar les cridades que necesiten token primer\n  s'haura de fer login amb un usuari per obtenir el token i despres utilitzar aquest token a la part on posa Authorize. Per\n  mes informacio, obtenir un usuari o altres peticions utilitzar el link de Contact Equip Sol o mandar un mail a jaumefullana@paucasesnovescifp.cat",
        "contact": {
            "name": "Equip Sol",
            "email": "jaumefullana@paucasesnovescifp.cat"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://www.allotjamentsol.com/public/"
        }
    ],
    "paths": {
        "/api/allotjament": {
            "get": {
                "tags": [
                    "Allotjaments"
                ],
                "summary": "Mostrar tots els allotjaments.",
                "operationId": "1add0ed8eea62f5417aa47f81e1a0b6a",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Allotjaments"
                ],
                "summary": "Modifica un allotjament",
                "description": "Modifica un allotjament.",
                "operationId": "6a0ab1ad7937df8328c58ecc5162b396",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "NumeroRegistre": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "A1112223334444"
                                    },
                                    "NomComercial": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Can Tomeu Llarg"
                                    },
                                    "Direccio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "C\\ Gran 35"
                                    },
                                    "NumeroLlits": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "NumeroPersones": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "NumeroHabitacions": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "7"
                                    },
                                    "NumeroBanys": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "MunicipisID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "7"
                                    },
                                    "TipusVacancesID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "9"
                                    },
                                    "TipusAllotjamentsID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Allotjaments"
                ],
                "summary": "Crea un nou allotjament",
                "description": "Crea un nou allotjament.",
                "operationId": "f79a7117b3ed9e9664bc4152f15015b3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "NumeroRegistre": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "A1112223334444"
                                    },
                                    "NomComercial": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Can Tomeu Llarg"
                                    },
                                    "Direccio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "C\\ Gran 35"
                                    },
                                    "NumeroLlits": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "NumeroPersones": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    },
                                    "NumeroHabitacions": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "7"
                                    },
                                    "NumeroBanys": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "MunicipisID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "7"
                                    },
                                    "TipusVacancesID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "9"
                                    },
                                    "TipusAllotjamentsID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Allotjaments"
                ],
                "summary": "Esborra un allotjament",
                "description": "Esborra un allotjament.",
                "operationId": "458feb8dec4d7e990097f89a0055ab03",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/allotjament/{id}": {
            "get": {
                "tags": [
                    "Allotjaments"
                ],
                "summary": "Mostrar l'allotjament al qual correspon la id passada per la url",
                "operationId": "9ed73a121b82970eff4eb19cbbb59a19",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de l'allotjament",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/comentari": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Mostrar tots els comentaris.",
                "operationId": "51606adb66776f1e2b3f9f14e28ff926",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Modifica un comentari",
                "description": "Modifica un comentari.",
                "operationId": "0a7d50a61bae7dca1706d7eed56776f5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    },
                                    "Comentari": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Aquest allotjament no es per tant"
                                    },
                                    "Valoracio": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Crea un nou comentari",
                "description": "Crea un nou comentari.",
                "operationId": "998f855d6b60172566e09b5ad33bc708",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Comentari": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Aquest allotjament es un 10"
                                    },
                                    "Valoracio": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    },
                                    "DataCreacio": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2022-03-21"
                                    },
                                    "AllotjamentsID ": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Esborra un comentari",
                "description": "Esborra un comentari.",
                "operationId": "f0a9d6c4b91583082c2ecddb1c8dc57c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comentari/{id}": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Mostrar el comentari al qual correspon la id passada per la url",
                "operationId": "d78adb10af484ae252284dd4348df414",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del comentari",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/estatsreserva": {
            "get": {
                "tags": [
                    "EstatsReserva"
                ],
                "summary": "Mostrar tots els estats de reserva.",
                "operationId": "edc7c7d298f280005818c07aa44cc5c3",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els estats de reserva."
                    },
                    "400": {
                        "description": "Hi ha un error."
                    }
                }
            }
        },
        "/api/estatsreserva/{id}": {
            "get": {
                "tags": [
                    "EstatsReserva"
                ],
                "summary": "Mostrar l'estat d'una reserva",
                "operationId": "ac4cd9437ece34457de9a4f037aadc8c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del estat de la reserva",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informació del estat de la reserva.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Estat de la reserva no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/idioma": {
            "get": {
                "tags": [
                    "Idiomes"
                ],
                "summary": "Mostrar tots els idiomes.",
                "operationId": "3472d5806ad42ce2063a7b6d4c187643",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Idiomes"
                ],
                "summary": "Crea un nou idioma",
                "description": "Crea un nou idioma.",
                "operationId": "25b8339da849f0de96cbdd5792efd04a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "4"
                                    },
                                    "CodiISO": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "FR"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Idiomes"
                ],
                "summary": "Crea un nou idioma",
                "description": "Crea un nou idioma.",
                "operationId": "b2d6b1ae2e53fc39c6b0a1bf1b355d8b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "4"
                                    },
                                    "CodiISO": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "FR"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Idiomes"
                ],
                "summary": "Esborra un idioma",
                "description": "Esborra un idioma.",
                "operationId": "489db9b5e7483e9fee1a4dd59ffaf1a1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Informacio de l'error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/idioma/{id}": {
            "get": {
                "tags": [
                    "Idiomes"
                ],
                "summary": "Mostrar l'idioma al qual correspon la id passada per a la url",
                "operationId": "204fd403c04fff7db1d8b981daf2a735",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del idioma",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/imatge": {
            "get": {
                "tags": [
                    "Imatges"
                ],
                "summary": "Mostrar totes les imatges.",
                "operationId": "89784ce491c06e3cedb3718cb8ea7720",
                "responses": {
                    "200": {
                        "description": "Mostrar totes les imatges.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "200"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "imatges no trobades"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Imatges"
                ],
                "summary": "Modifica una imatge",
                "description": "Modifica una imatge.",
                "operationId": "0cea142ef056fe47589e08dc6c888c42",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "EsPrincipal": {
                                        "type": "boolean",
                                        "example": "false"
                                    },
                                    "Descripcio": {
                                        "type": "varchar",
                                        "example": "casa rural amb vistea a muntanya"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Atribut imatge requerit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Imatges"
                ],
                "summary": "Crea una imatge",
                "description": "Crea una nova imatge.",
                "operationId": "f3db4a977c5eb000d936123352312e41",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "Imatge": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "EsPrincipal": {
                                        "type": "boolean",
                                        "example": "false"
                                    },
                                    "Descripcio": {
                                        "type": "varchar",
                                        "example": "casa rural amb vistea a muntanya"
                                    },
                                    "AllotjamentID": {
                                        "type": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Atribut URL requerit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Imatges"
                ],
                "summary": "Esborra una imatge",
                "description": "Esborra una imatge.",
                "operationId": "ba306feb8ba9d55261c1e5f10008beb7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Tupla no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/imatge/allotjament/{idAllotjament}": {
            "get": {
                "tags": [
                    "Imatges"
                ],
                "summary": "Mostrar totes les imatges de un allotjament",
                "operationId": "19de501cde86d52b4b50bdf168d41c9d",
                "parameters": [
                    {
                        "name": "idAllotjament",
                        "in": "path",
                        "description": "id allotjament",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "imatges no trobades"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/imatge/{id}": {
            "get": {
                "tags": [
                    "Imatges"
                ],
                "summary": "Mostrar una imatge",
                "operationId": "0440729015c12541cd1fe803d0acbe36",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de la imatge",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informació de la imatge.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "200"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "imatge no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Login per obtenir token de autoritzacio",
                "description": "Utilitza el login per tal de entrar amb les teves credencials i obtenir el token de autoritzacio. Es pot enviar la informacio com a JSON o com a x-www-form-urlencoded.",
                "operationId": "c5e838284c7f343f0e5e5fd589161c96",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CorreuElectronic": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "joan@gmail.com"
                                    },
                                    "Contrasenya": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "AghT6j7!saL*"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "apiKey"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Les teves credencials son incorrectes"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Logout"
                ],
                "summary": "Logout",
                "description": "Fa logout del actual usuari, eliminant el seu token de la base de dades",
                "operationId": "1f0bcdac4489ca103140e98fd3ab1063",
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/municipi": {
            "get": {
                "tags": [
                    "Municipis"
                ],
                "summary": "Mostrar tots els municipis.",
                "operationId": "a93b71794a66fc7d227d9d2dad219f9a",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els municipis.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Municipis no trobats"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Municipis"
                ],
                "summary": "Modifica un municipi",
                "description": "Modifica un municipi.",
                "operationId": "e787c603c1f3fae5455039272c4804f1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "Nom": {
                                        "type": "varchar",
                                        "example": "Palma"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Atribut Nom requerid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Municipis"
                ],
                "summary": "Crea un municicpi",
                "description": "Crea un municicpi.",
                "operationId": "39023e0ab6c453fa41fc946027960952",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    },
                                    "Nom": {
                                        "type": "varchar",
                                        "example": "Palma"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "No sa pogut insertar el municipi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Municipis"
                ],
                "summary": "Esborra un municipi",
                "description": "Esborra un municipi.",
                "operationId": "5f4b89417c17fcb03875c84efb7d91e3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Tupla no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/municipi/{id}": {
            "get": {
                "tags": [
                    "Municipis"
                ],
                "summary": "Mostrar un municipi",
                "operationId": "154e7d7868d7bc46c86c0019c549c285",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del municipi",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informació del municipi.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "Result": {
                                            "type": "string",
                                            "example": "Tipus de municipi no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/reserva": {
            "get": {
                "tags": [
                    "Reserves"
                ],
                "summary": "Mostrar totes les reserves.",
                "operationId": "ac7c29c354ca87e037fd0cc271a53a14",
                "responses": {
                    "200": {
                        "description": "Mostrar totes les reserves."
                    },
                    "400": {
                        "description": "Hi ha un error."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Reserves"
                ],
                "summary": "Modifica una reserva",
                "description": "Modifica una reserva. Format de la data: Y-m-d.",
                "operationId": "c6ab45d80cf20b6145dc35f93e7bad4e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DataCheckIn": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-12-23"
                                    },
                                    "DataCheckOut": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-12-27"
                                    },
                                    "Preu": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "20"
                                    },
                                    "EstatsReservesID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atribut Preu requerit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Reserves"
                ],
                "summary": "Crea una reserva",
                "description": "Crea una nova reserva.",
                "operationId": "95cd36fee71a3e4069c75871c0e7474b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DataCheckIn": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-10-17"
                                    },
                                    "DataCheckOut": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-10-20"
                                    },
                                    "Preu": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "20"
                                    },
                                    "AllotjamentsID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "3"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atribut DataCheckIn requerit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Reserves"
                ],
                "summary": "Esborra una reserva",
                "description": "Esborra una reserva.",
                "operationId": "437a13b26f8a2b9bd5b01f38ac0f4425",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "5"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Tupla no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/reserva/{id}": {
            "get": {
                "tags": [
                    "Reserves"
                ],
                "summary": "Mostrar una reserva",
                "operationId": "6881f5e3ed053b0529b74c5b3e78459f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id de la reserva",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informació de la reserva.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "reserva no trobada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/rol": {
            "get": {
                "tags": [
                    "Rols"
                ],
                "summary": "Mostrar tots els rols",
                "operationId": "7ae8b69d954dd0388859b134199f564f",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els rols."
                    },
                    "400": {
                        "description": "Hi ha un error."
                    }
                }
            }
        },
        "/api/rol/{id}": {
            "get": {
                "tags": [
                    "Rols"
                ],
                "summary": "Mostrar un rol",
                "operationId": "ef5f83b3a677ee045e1b953f2ac25e07",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id del rol",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informació del rol",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Hi ha un error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Rol no trobat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/serveisallotjament": {
            "get": {
                "tags": [
                    "Serveis Allotjament"
                ],
                "summary": "Mostrar tots els serveis d'allotjament.",
                "operationId": "4e62c6118a5ac0d92aeac8a47e6697e0",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Serveis Allotjament"
                ],
                "summary": "Crea un servei d'allotjament",
                "description": "Crea un servei d'allotjament.",
                "operationId": "538d83374c2c598fd2f5ba263380e77e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "TipusServeisID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1234"
                                    },
                                    "AllotjamentsID": {
                                        "type": "number",
                                        "format": "number",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Status": {
                                            "type": "integer",
                                            "example": "Success"
                                        },
                                        "Result": {
                                            "type": "object"
                                        }
[...]
